#![enable(implicit_some)]
(
    token: "{{ token }}",
    client_id: {{ client_id }},
    client_secret: "{{ client_secret }}",
    database_url: "{{ database_url }}",
    host_addr: "{{ host_addr }}}",
    api_url: "{{ api_url }}",
    frontend_url: "{{ frontend_url }}",
    owner_id: {{ owner_id }},
    manager_guild: {{ manager_guild }},
    github_webhook_secret: "{{ github_webhook_secret}}",
)